@media only screen and (min-width: 769px) {
  .community-tablet {
    display: none;
  }
  .community-phone {
    display: none;
  }
}

@media only screen and (max-width: 768px) and (min-width: 400px) {
  .community-laptop {
    display: none;
  }
  .community-phone {
    display: none;
  }
  .searchMemberButton1 {
    width: 320px;
    font-size: 0.775rem;
    margin-top: 5px;
    margin-left: 8px;
  }
  .searchMemberButton2 {
    margin-top: 5px;
    width: 320px;
    font-size: 0.775rem;
    margin-left: -20px !important;
  }
  .searchMemberButton3 {
    margin-top: 5px;
    margin-left: 8px;
    font-size: 0.775rem;
    height: 40px;
    width: 650px;
  }
}

@media only screen and (max-width: 400px) {
  .community-tablet {
    display: none;
  }
  .community-phone {
    margin-top: -60px !important;
    margin-bottom: 10px !important;
  }
  .community-laptop {
    display: none;
  }
  .searchMemberButton1 {
    width: 150px;
    font-size: 0.775rem;
    margin-top: 5px;
    margin-left: 8px;
  }
  .searchMemberButton2 {
    margin-top: 5px;
    width: 150px;
    font-size: 0.775rem;
    margin-left: 0px !important;
  }
  .searchMemberButton3 {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 0.775rem;
    height: 40px;
    width: 330px;
  }
}

@media only screen and (max-width: 1200px) {
  .searchMemberButton {
    font-size: 0.775rem;
  }
}
