.options {
  border: 3px solid #f7fafc;
  box-shadow: 0 2px 4px #11111150;
  background-color: #f7fafc;
}

.registration-options {
  margin-bottom: 5px;
  padding: 10px;
}

@media only screen and (min-width: 769px) {
  .heightControl {
    height: 95px;
  }
  .registration-title {
    color: #17c3ca;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 'auto';
    margin-right: 'auto';
    font-size: 30px !important;
    font-family: 'Cabin';
  }
  .options {
    border: 3px solid #f7fafc;
    box-shadow: 0 2px 4px #11111150;
    background-color: #f7fafc;
  }
}

@media only screen and (max-width: 768px) and (min-width: 400px) {
  .heightControl {
    height: 130px;
  }
  .registration-title {
    color: #17c3ca;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 'auto';
    margin-right: 'auto';
    font-size: 25px;
    font-family: 'Cabin';
  }
  .options {
    border: 3px solid #f7fafc;
    box-shadow: 0 2px 4px #11111150;
    background-color: #f7fafc;
  }
}

@media only screen and (max-width: 425px) {
  .heightControl {
    height: 60px;
  }
  .registration-title {
    color: #17c3ca;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 'auto';
    margin-right: 'auto';
    font-size: 25px;
    font-family: 'Cabin';
  }
  .options {
    border: 3px solid #f7fafc;
    box-shadow: 0 2px 4px #11111150;
    background-color: #f7fafc;
    margin-top: 0px;
    margin-bottom: 15px;
  }
}

.footer {
  visibility: hidden;
}
